@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Pagina de incio IoTMarket</h3>
    <p>Creado por  <a href="https://github.com/smenaaliaga">smenaaliaga</a>.</p>
</div>
